@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
*{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.fifo-icon-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100vw;
}
.hr-light{
  height: 1px;
  background-color: rgba(0, 0, 0, 0.275);
  margin: 0 3%;
  border: none;
}
.posts{
  border-radius: 10px;
  margin-bottom: 10px;
}
.main{
  background-color: rgba(240, 239, 239, 0.407);
  border: 1px solid rgba(0, 0, 0, 0.275);
  border-radius: 10px;
  margin: 0% 20%;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.main > h3{
  padding: 2%;
  font-size: 15px;
  text-align: center
}
.space-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 2%;
}
.space-btn{
  height: 40px;
  background-color: rgb(96, 198, 202);
  border: none;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
}
.space-icon{
  border-radius: 50%;
  height: 50px;
  margin-right: 10px
}
.space-name{
  font-size: 17px;
}
.post-content{
  padding-top: 1%;
  font-size: 1rem;
}
.post-profile-img{
  border-radius: 50%;
  height: 30px;
}
.post-header{
  display: flex;
  align-items: center ;
  gap: 1%;
}
.post-header > p{
  font-size: small;
  font-weight: bolder;
}
.post-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 2% 3%;
}
.post-main a{
  color: inherit;
  text-decoration: none;
}